*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    position: relative;
    background-image: -moz-linear-gradient(25deg, rgb(182, 180, 180), rgb(87, 87, 87));
    border-radius: 50%;
    width: 60vh;
    height: 60vh;
}

.center{
    position: absolute;
    background-color: black;
    height: 3vh;
    width: 3vh;
    top: 58.5vh;
    left: 58.75vh;
    transform: translate(-30vh,-30vh);
    border-radius: 50%;
}

.primaryBar{
    position: absolute;
    background-color: black;
    height: 4vh;
    width: 0.2vw;
}

#zero{
    left: 30vh;
}

#three{
    top: 30vh;
    left: 59.5vh;
    transform-origin: top;
    transform: rotate(-270deg);
}

#six{
    top: 60vh;
    left: 30vh;
    transform-origin: top;
    transform: rotate(180deg);
}

#nine{
    top: 30vh;
    transform-origin: top;
    transform: rotate(-90deg);
}

#hour{
    background-color: black;
    position: absolute;
    transform-origin: bottom;
    top: 15vh;
    left: 30vh;
    border-radius: 20px;
    width: 1vh;
    height: 15vh;
    /* display: none; */
}

#minute{
    background-color: black;
    position: absolute;
    transform-origin: bottom;
    top: 10vh;
    left: 30vh;
    border-radius: 20px;
    width: 0.8vh;
    height: 20vh;
    /* display: none; */
}

#second{
    background-color: black;
    position: absolute;
    transform-origin: bottom;
    top: 5vh;
    left: 30vh;
    border-radius: 20px;
    width: 0.5vh;
    height: 25vh;
}